@{
    ViewBag.Title = "Home";
}

<h1>Welcome to the Tech Store!</h1>

<p>Check our inventory and see if we have anything you like.</p>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Product" asp-action="List"
               class="list-group-item">View our products</a>
            <a asp-controller="Home" asp-action="About"
               class="list-group-item">Learn more about us</a>
        </div>
    </div>
</div>